---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const oopConcepts = (await getCollection("concepts")).filter((item) =>
  item.data.tags.includes("oop")
);

const baseUrl = import.meta.env.BASE_URL;
const folderSlug = "core/oop";
---

<BaseLayout tabTitle="OOP">
  <h1>OOP</h1>
  <ol>
    {
      oopConcepts.map((entry) => (
        <li>
          <a href={`${baseUrl}/${folderSlug}/${entry.slug}/`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</BaseLayout>
