h2,
h3,
h4,
.heading {
  margin: 0px;
  padding: 10px 0px;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  /* margin: 0 0 20px 0; */
  margin: 0;
  padding: 0;
}

li {
  margin: 0px 0 5px 0;
  padding: 0px 5px 0px 5px;
}
