---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const dbmsConcepts = (await getCollection("concepts")).filter((item) =>
  item.data.tags.includes("dbms")
);

const baseUrl = import.meta.env.BASE_URL;
const folderSlug = "core/dbms";
---

<BaseLayout tabTitle="DBMS">
  <h1>DBMS</h1>
  <ol>
    {
      dbmsConcepts.map((entry) => (
        <li>
          <a href={`${baseUrl}/${folderSlug}/${entry.slug}/`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</BaseLayout>
