---

---

<div id="theme-slider-container">
  <input id="theme-toggle" type="checkbox" />
  <label for="theme-toggle" class="slider-label">
    <img
      class="ic-sun"
      src=`${import.meta.env.BASE_URL}/icons/sun.svg`
      alt="sun-icon"
    />
    <img
      class="ic-moon"
      src=`${import.meta.env.BASE_URL}/icons/moon.svg`
      alt="moon-icon"
    />

    <span class="slider-ball"></span>
  </label>
</div>

<style is:global>
  .ic-sun,
  .ic-moon {
    height: 20px;
  }

  #theme-slider-container {
    position: fixed;
    top: 10px;
    right: 10px;
    /* Float on top of other content */
    z-index: 500;
  }

  #theme-toggle {
    /* Hide checkbox input */
    display: none;
  }

  .slider-label {
    background-color: var(--themeSliderBgColor);
    width: 50px;
    height: 25px;
    border-radius: 25px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .slider-ball {
    background-color: white;
    height: 27px;
    width: 27px;
    position: absolute;
    left: 40px;
    top: 10px;
    /* left: 5px;
    top: 10px; */
    border-radius: 50%;
    transition: transform 0.1s linear;
  }

  #theme-toggle:checked + .slider-label .slider-ball {
    /* transform: translateX(36px); */
    transform: translateX(-35px);
  }
</style>
