---
import BaseLayout from "../../layouts/BaseLayout.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout tabTitle="Code Journal">
  <h1>CS Core</h1>
  <ul>
    <h2>
      <li>
        <a href={`${baseUrl}/core/dbms`}>DBMS</a>
      </li>
    </h2>
    <h2>
      <li>
        <a href={`${baseUrl}/core/oop`}>OOP</a>
      </li>
    </h2>
    <h2>
      <li>
        <a href={`${baseUrl}/core/os`}>OS</a>
      </li>
    </h2>
  </ul>
</BaseLayout>
