---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!-- Have to make it global as by-default, styles are only scoped for the component, NOT to it's slots -->
<style is:global>
  #article-content h1 {
    line-height: 2rem;
  }

  #article-content img {
    display: block;
    margin: 0.5em auto;
    max-width: 95%;
  }

  #article-content img {
    max-width: 95%;
    padding: 5px;
    background-color: white;
    /* overflow-x: auto; */
  }

  #article-content p {
    text-align: justify;
  }

  #article-content .mermaid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 0.5rem;
  }

  #article-content mjx-container {
    /* display: inline-block; */
    padding: 0.25rem;
    overflow-x: auto;
    overflow-y: auto;
    /* scroll-behavior: auto; */
  }

  #article-content blockquote mjx-container {
    padding-bottom: 0.5rem;
  }
</style>

<div id="article-content">
  <h1>{title}</h1>
  <slot />
</div>
