---
// Global CSS styles
import "../styles/global.css";

import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { ViewTransitions } from "astro:transitions";

const baseUrl = import.meta.env.BASE_URL;

interface Props {
  tabTitle: string;
}
const { tabTitle } = Astro.props;
const siteDescription = "A site to organize and showcase my coding notes";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Code Journal" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href=`${baseUrl}/icons/code.svg` />

    <!-- Page's Browser Tab title -->
    <title>{tabTitle}</title>
    <meta name="description" content={siteDescription} />

    <!-- Theme switch script -->
    <script src="../scripts/theme-script.ts"></script>

    <!-- Mermaid for generating diagrams from code -->
    <script src="../scripts/mermaid-script.ts"></script>

    <!-- MathJax script for Math expressions -->
    <script src="../scripts/mathjax-script.ts"></script>

    <!-- Smooth animation between page navigations instead of default full page refresh -->
    <ViewTransitions fallback="swap" />
  </head>

  <body class="markdown-body">
    <Header />

    <main>
      <slot>
        <!-- Actual content unique to the page (with fallback content) -->
        This page is empty
      </slot>
    </main>

    <Footer />
  </body>
</html>
