<style>
  footer {
    color: var(--accentColor);
    font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
      P052, Sylfaen, serif;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
  }
</style>

<footer>
  <hr />
  Created by
  <a href="https://github.com/datkumar">Kumar Deshmukh</a>
</footer>
