---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style>
  img {
    text-align: center;
    margin: auto;
    max-width: 100%;
  }

  h1 {
    line-height: 2rem;
  }
</style>

<BaseLayout tabTitle={title}>
  <h1>{title}</h1>
  <hr />
  <slot />
</BaseLayout>
