---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout tabTitle={title}>
  <h1>{title}</h1>
  <hr />
  <slot />
</BaseLayout>
