---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const astroConcepts = (await getCollection("concepts")).filter((item) =>
  item.data.tags.includes("astro")
);

const baseUrl = import.meta.env.BASE_URL;
const folderSlug = "dev/astro";
---

<BaseLayout tabTitle="Astro">
  <h2>Astro</h2>
  <ol>
    {
      astroConcepts.map((entry) => (
        <li>
          <a href={`${baseUrl}/${folderSlug}/${entry.slug}/`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</BaseLayout>
