---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { devLinks } from "../../utils/data";
const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout tabTitle="Code Journal">
  <h1>Development</h1>
  <ul>
    {
      devLinks.map((entry) => (
        <h2>
          <li>
            <a href={`${baseUrl}/dev/${entry.url}`.toString()}>{entry.title}</a>
          </li>
        </h2>
      ))
    }
  </ul>
</BaseLayout>
